---
layout: default
---
{% include modules/banner.html %}
<div class="section" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        {{ content | replace_first:'<p>','<p class="lead">' }}
        
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Ticket</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
                {% for ticket in page.tickets %}
                {% if ticket[1] %}{% assign item = ticket[1] %}{% else %}{% assign item = ticket %}{% endif %}
            <tr class="simpleCart_shelfItem">
              <td class="item_name"><span class="hidden">{{ page.title }} - {{ page.date }} -</span>{{ item.name }}</td>
              <td class="item_price">&pound;{{ item.price }}</td>
              <td><button type="button" class="item_add btn btn-primary"><span class="fa fa-shopping-cart"></span> Add to cart</button></td>
            </tr>
                {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div>
          <div class="panel-body">
            <div class="simpleCart_items"></div>
            <a href="javascript:;" class="simpleCart_checkout btn btn-block btn-primary">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>