---
layout: default
---
{% include modules/banner.html %}
<div class="section" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">{{ content }}</div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">{{ page.title | split: ' ' | first }}'s Bio</h3></div>
          <div class="panel-body">
            <table class="table table-striped">
              <tbody>
                {% if page.weight_class %}
                <tr>
                  <td><strong>Weight Class</strong></td>
                  <td>{{ page.weight_class }}</td>
                </tr>
                {% endif %}
                {% if page.hometown %}
                <tr>
                  <td><strong>Location</strong></td>
                  <td>{{ page.hometown }}</td>
                </tr>
                {% endif %}
                {% if page.birthday %}
                {% assign agestamp = (page.birthday | date: '%s') %}
                {% assign age = ((site.time | date: '%s') | minus: agestamp) | divided_by: '31536000' %}
                <tr>
                  <td><strong>Age</strong></td>
                  <td>{{ age }}</td>
                </tr>
                {% endif %}
                {% if page.gym %}
                <tr>
                  <td><strong>Gym</strong></td>
                  <td>{{ page.gym }}</td>
                </tr>
                {% endif %}
                {% if page.coach %}
                <tr>
                  <td><strong>Coach</strong></td>
                  <td>{{ page.coach }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>