---
layout: default
---
{% include modules/banner.html %}
<div class="section" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">{{ content }}</div>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Book {{ page.title | split: ' ' | first }}</h3></div>
          <div class="panel-body">
    <form role="form" action="https://mailer.abemedia.co.uk" method="post" id="contactForm">

            <div class="form-group">
              <label for="subject">Subject *</label>
              <input type="text" class="form-control" name="subject" required>
            </div>
            <div class="form-group">
              <label for="name">Name *</label>
              <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
              <label for="email">Email *</label>
              <input type="email" class="form-control" name="email" required>
            </div>
            <div class="form-group">
              <label for="telephone">Telephone</label>
              <input type="tel" class="form-control" name="extra[telephone]">
            </div>
          </div>
          <div class="form-group">
            <label for="message">Message *</label>
            <textarea name="message" class="form-control" style="height:122px" required></textarea>
          </div>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-danger btn-lg">Send Enquiry</button>
          </div>
        </div>
      </div>
    </form>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">{{ page.title | split: ' ' | first }}'s Bio</h3></div>
          <div class="panel-body">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><strong>Stats</strong></td>
                  <td>{{ page.wins }}-{{ page.losses }}-{{ page.draws }} {% if page.kos > 0 %}({{ page.kos }} KOs){% endif %}</td>
                </tr>
                {% if page.weight_class %}
                <tr>
                  <td><strong>Weight Class</strong></td>
                  <td>{{ page.weight_class }}</td>
                </tr>
                {% endif %}
                {% if page.hometown %}
                <tr>
                  <td><strong>Location</strong></td>
                  <td>{{ page.hometown }}</td>
                </tr>
                {% endif %}
                {% if page.birthday %}
                {% assign agestamp = (page.birthday | date: '%s') %}
                {% assign age = ((site.time | date: '%s') | minus: agestamp) | divided_by: '31536000' %}
                <tr>
                  <td><strong>Age</strong></td>
                  <td>{{ age }}</td>
                </tr>
                {% endif %}
                {% if page.gym %}
                <tr>
                  <td><strong>Gym</strong></td>
                  <td>{{ page.gym }}</td>
                </tr>
                {% endif %}
                {% if page.coach %}
                <tr>
                  <td><strong>Coach</strong></td>
                  <td>{{ page.coach }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>