---
layout: default
---
{% assign team = (site.team | where: 'published', 1 | sort: 'order') %}
{% include modules/carousel.html category=team %}

<!--div class="section" id="content">
  <div class="container">
    <h1 class="page-header">{{ page.title }}</h1>
    <p class="lead">{{ content | strip_html | newline_to_br }}</p>
  </div>
</div-->
  
<div class="section grey" id="content">
  <div class="container">
    <div class="row equal">
      {% for item in team %}
      <div class="col-sm-4 col-md-3 text-center"><a class="thumb" href="{{ site.url }}{{ item.url }}" >
        <figure>
          <img class="img-circle img-thumbnail" src="{{ site.cdn | replace: '0x0', '300x300'}}{{ item.avatar }}"/>
        </figure>

        {% if item.title %}<h3>{{ item.title }}</h3>{% endif %}
        <p>aka<br>{{ item.aka }}</p>
        <p>{{ item.wins }}-{{ item.losses }}-{{ item.draws }} ({{ item.kos }} KOs)</p>
      </a><br></div>
      {% endfor %}
    </div>
  </div>
</div>
  
<div class="section" id="content">
  <div class="container">
  {% assign gallery = (site.gallery | where: 'published', 1 | sort: 'order') %}
  <div class="row equal">
    {% for item in gallery %}
    <div class="col-sm-4 col-md-3"><a class="thumb" href="{{ site.url }}{{ item.url }}" >
    <figure>
      <div class="thumb-square img img-thumbnail" style="background-image: url({{ site.cdn | replace: '0x0', '300x300'}}{{ item.image }})"></div>
    </figure>
    {% if item.title %}<h3>{{ item.title }}</h3>{% endif %}
    </a><br></div>
    {% endfor %}
  </div>
  </div>
</div>
