---
layout: default
---
{% include modules/banner.html %}
<div class="section" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">{{ content }}</div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">{{ page.title | split: ' ' | first }}'s Bio</h3></div>
          <div class="panel-body">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><strong>Name</strong></td>
                  <td>{{ page.title }}</td>
                </tr>
                <tr>
                  <td><strong>Location</strong></td>
                  <td>{{ page.location }}</td>
                </tr>
                {% assign agestamp = (page.birthday | date: '%s') %}
                {% assign age = ((site.time | date: '%s') | minus: agestamp) | divided_by: '31536000' %}
                <tr>
                  <td><strong>Age</strong></td>
                  <td>{% if agestamp %}{{ age }}{% endif %}</td>
                </tr>
                <tr>
                  <td><strong>Height</strong></td>
                  <td>{{ page.height }}</td>
                </tr>
                <tr>
                  <td><strong>Waist</strong></td>
                  <td>{{ page.waist }}</td>
                </tr>
                <tr>
                  <td><strong>Bust</strong></td>
                  <td>{{ page.bust }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>