---
layout: default
---
{% include modules/banner.html %}
<div class="section" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">{{ content | replace_first:'<p>','<p class="lead">' }}
        {% assign files = (site.static_files | where: 'extname', '.jpg' | sort: 'modified_time') %}
        <div class="row row-padded">
        {% for file in files reversed %}{% if file.path contains page.directory %}
          <div class="col-xs-6 col-sm-4 col-lg-3">
            <a class="thumb" data-toggle="lightbox" data-gallery="gallery" href="{{ site.cdn | replace: '0x0', '0x600' }}{{ file.path }}">
              <figure>
                <img src="{{ site.cdn | replace: '0x0', '263x263' }}{{ file.path }}">
              </figure>
            </a>
          </div>
        {% endif %}{% endfor %}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">{{ page.title | split: ' ' | first }}'s Info</h3></div>
          <div class="panel-body">
            <table class="table table-striped">
              <tbody>
                {% if page.location %}
                <tr>
                  <td><strong>Location</strong></td>
                  <td>{{ page.location }}</td>
                </tr>
                {% endif %}
                {% if page.birthday %}
                {% assign agestamp = (page.birthday | date: '%s') %}
                {% assign age = ((site.time | date: '%s') | minus: agestamp) | divided_by: '31536000' %}
                <tr>
                  <td><strong>Age</strong></td>
                  <td>{% if agestamp %}{{ age }}{% endif %}</td>
                </tr>
                {% endif %}
                {% if page.height %}
                <tr>
                  <td><strong>Height</strong></td>
                  <td>{{ page.height }}</td>
                </tr>
                {% endif %}
                {% if page.waist %}
                <tr>
                  <td><strong>Waist</strong></td>
                  <td>{{ page.waist }}</td>
                </tr>
                {% endif %}
                {% if page.bust %}
                <tr>
                  <td><strong>Bust</strong></td>
                  <td>{{ page.bust }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Book {{ page.title | split: ' ' | first }}</h3></div>
          <div class="panel-body">
            <form role="form" action="https://mailer.abemedia.co.uk" method="post" id="contactForm">
              <input type="hidden" name="subject" value="Book {{ page.title }} (Model)">
              <div class="form-group">
                <label for="name">Name *</label>
                <input type="text" class="form-control" name="name" required>
              </div>
              <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" class="form-control" name="email" required>
              </div>
              <div class="form-group">
                <label for="telephone">Telephone</label>
                <input type="tel" class="form-control" name="extra[telephone]">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-danger btn-lg btn-block">Send Enquiry</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>